<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BetterNetworking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <BetterNetworking.Properties.Settings>
            <setting name="IsEnglish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="strIPAddress" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="intPZPort" serializeAs="String">
                <value>16261</value>
            </setting>
            <setting name="intKCPPort" serializeAs="String">
                <value>16666</value>
            </setting>
            <setting name="intStun" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intServerBandWidthIn" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="intServerBandWidthOut" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="intServerBandWidthInUnit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intServerBandWidthOutUnit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intClientBandWidthIn" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="intClientBandWidthOut" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="intClientBandWidthInUnit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intClientBandWidthOutUnit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="strConfClient" serializeAs="String">
                <value />
            </setting>
        </BetterNetworking.Properties.Settings>
    </userSettings>
</configuration>
